riscv-tools/*
vsim/*
tb/*
.vscode/*
*.bit
*.hex
*.fsdb
*.key
*.log
*.o
*.dasm
*.o.d
*.dump
*.elf
*.map

#fpga
fpga/*/vivado*
fpga/*/usage*
fpga/*/*.txt
fpga/*/.Xil
fpga/*/*.rpt
fpga/*/work
fpga/*/filelist.v

#sim
sim/*/*.rc
sim/*/*.conf
sim/*/verdiLog
sim/*/*.verilog
sim/*/simv
sim/*/csrc
sim/*/simv.daidir
sim/*/filelist.f